<!DOCTYPE html>
<html>
<head>
  <title>Contact Me</title>
  <link rel="stylesheet" href="css/contactMe.css">
</head>
<body>
  <a class = "return" href="/">
    <button class="button" type="button">
      <i class="arrow left"></i>
      Home
    </button>
  </a>
  <div class="contact-form">
    <h1>Contact Me</h1>
    <form action="/send" method="POST">
      <input type="text" name="name" placeholder="Your Name" required><br>
      <input type="email" name="email" placeholder="Your Email" required><br>
      <textarea name="message" placeholder="Your Message" rows="6" required></textarea><br>
      <button type="submit">Send</button>
    </form>
  </div>
</body>
</html>
