<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Krish Patel Portfolio</title>
  <link rel="stylesheet" href="/css/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="hero">
    <img src="/images/pfp.png" alt="Profile Picture" class="pfp">
    <div class = "intro">
      <div class="typing-container">
        <span id="typing-text"></span>
        <script>
          const text = "Hi, my name is Krish";
          const typingElement = document.getElementById("typing-text");
          let index = 0;
          function typeWriter() {
              if (index < text.length) {
                  typingElement.textContent += text.charAt(index);
                  index++;
                  setTimeout(typeWriter, 100);
              }
          }

          window.onload = typeWriter;
        </script>
      </div>
      <div class="socials">
        <a href="https://www.linkedin.com/in/krish-patel-844a69270/" target="_blank" rel="noopener noreferrer">
          <img src="/images/linkdinlogo.png" alt="LinkedIn" class="social-icon">
        </a>
        <a href="https://github.com/krish1097?tab=repositories" target="_blank" rel="noopener noreferrer">
          <img src="/images/githublogo.webp" alt="GitHub" class="social-icon">
        </a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=krishpatel.1097@email.com" target="_blank" rel="noopener noreferrer">
          <img src="/images/email-icon.webp" alt="Email" class="social-icon">
        </a>
      </div>
    </div>
  </div>

  <div class="link-container">
    <a href="/about" class="nav-item about">About Me</a>
    <a href="/experience" class="nav-item experience">Experience</a>
    <a href="/KrishResume_.pdf" target ="_blank" class="nav-item viewResume">View Resume</a>
    <a href="https://github.com/krish1097?tab=repositories" target="_blank" rel="noopener noreferrer" class="nav-item projects">Projects</a>
    <a href="/contactMe" class="nav-item contactMe"> Contact Me</a>
  </div>
</body>
</html>


