body {
  margin: 0px;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f3f3f3;
  margin-left: 5%;
}

/*return button */
.return{
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  position: sticky;
  top: 5%;
  
}
.button{
  font-size: 1rem;
  border-radius: 50px;
  transition: .3s;
}

.button:hover{
  background-color: lightgreen;
  scale:1.1;
  cursor: pointer;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/*about me section */

.hero {
    display: flex;
    gap: 30px;
    margin-top: 40px;
    
}

.aboutMe{
  display: flex;
  flex-direction: column;
}

.rectangle{
  width: clamp(1rem,38vh,73rem);
  height:1vh;
  padding-left: 1%;
  margin-bottom: 1%;
  background-color: lightgreen;
}

.intro{
  display:flex;
  gap: 1%;
  
}

.myPara{
  display: flex;
  flex-direction: row;
  padding-right: 1.5%;
  padding-top: 1%;
}
.intro-text{
  width: 100%;
  height: auto;
  font-size: larger;
  justify-content: left;
  font-weight: bolder;
  text-align: justify;
  
}

.aboutMeImage {
  width: 50%;
  height: auto;
}
.introImage{
  max-width: 40vh;
  height: auto;
}

/*mobile device display*/

@media (max-width: 970px) {
  .hero {
      flex-direction: column;
      text-align: center;
      overflow-x: auto;
  }

  .intro{
    flex-direction: column;
    align-items: center;
  }

  .aboutMe{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .rectangle{
    width: 38vh;
  }
  .introImage{
    max-width: 20vh;
    height: auto;
  }
}

