body {
  margin: 0px;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f3f3f3;
  margin-left: 5%;
}

/*return button */
.return{
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  position: sticky;
  top: 5%;
  
}
.button{
  font-size: 1rem;
  border-radius: 50px;
  transition: .3s;
}

.button:hover{
  background-color: lightgreen;
  scale:1.1;
  cursor: pointer;
}
.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/*Experience Page*/

.jobs section{
  margin-bottom: 5vh;
}
.title{
    margin-top: 7vh;
    overflow: wrap;
}

.rectangle{
  width: clamp(1rem,38vh,73rem);
  height:1vh;
  padding-left: 1%;
  margin-bottom: 1%;
  background-color: lightgreen;
}

.section{
  width: clamp(38vh, 90vw, 110rem);
  height: auto;
  border: 1px solid lightgreen;
  border-radius: 10px;
  box-shadow: 0 0 1vh 1vh rgba(0,0,0,0.1);
}

.header{
  display: inline-block;
  margin-left: 3%;
  padding-top: 1%;
}
.jobName{
  color: orangered;
}
.title2{
  color: grey;
  font-size: medium;
  font-family:'Times New Roman', Times, serif ;
}

.discription{
  justify-content: center;
  text-align: justify;
  margin-top:-.5%;
  padding-left: 3%;
  padding-right: 3%;
  font-weight:bold;
}

/*mobile*/

@media (max-width: 768px) {
  .body{
    margin-left: 0%;
  }
  .section{
    margin-top: 1vh;
    margin-left: 2vw;
  }
  .title{
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rectangle{
    padding-left: 0%;
    width: 38vh;
  }
  .section{
    justify-content: center;
  }

  .title2{
    font-size: smaller;
  }


}

