
body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url('/images/bluebg.jpg') ;
  background-size: cover;      
  background-position: center;
  background-repeat: no-repeat;
}


.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}


.pfp {
  object-position: center;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  object-fit: cover;
  border: 5px solid orangered;
}

.typing-container {
    color: orangered;
    font-size: 3rem;
    font-weight: bold;
}

#typing-text::after {
    animation: blink 0.8s infinite;
}

#typing-text.done::after {
    animation: none;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.intro{
  display: flex;
  flex-direction:column;
}
.socials {
  margin-top: 15px;
  display: flex;
  justify-content: left;
  gap: 20px;
}

.social-icon {
  width: 40px;
  height: 40px;
  
  transition: transform .2s;
}

.social-icon:hover {
  transform: scale(1.1);
}

.link-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: clamp(15px, 2vw, 30px);
  width: min(90vw, 1200px);
  margin: 40px auto 0;
  margin-bottom: 20px;

}

.nav-item {
  font-size: clamp(1rem, 1.8vh, 1.5rem);
  padding: clamp(10px, 1.5vh, 18px)
           clamp(20px, 3vh, 40px);

  background: white;
  border: 2px solid #ccc;
  border-radius: 20px;
  text-decoration: none;
  color: #333;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  transition: 0.3s ease-in-out;
}

.nav-item:hover {
  background: orangered;
  scale: 1.1 1.1;
}


/*mobile intro text*/
@media (max-width: 768px) {
  .hero {
      flex-direction: column;
      text-align: center;
  }

  .typing-container {
      font-size: 2rem;
  }

  .pfp {
      width: 180px;
      height: 180px;
  }
  .socials{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}




