body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  overflow: hidden;
  background-image: url('/images/bluebg.jpg') ;
}

.center-container {
  scale:1.2;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-circle {
  position: absolute;
  text-align: center;
}
.pfp-wrapper {
  position: relative;
}

.inner-center-content {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, 20px);
  width: 100%;
}

.pfp {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  object-fit: cover;
  border: 5px solid orangered;
}

.intro-text {
  color: orangered;
  text-transform: uppercase;
  font-family: "Lucida Console", monospace;
  font-size: medium;
}

.socials {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-icon {
  width: 40px;
  height: 40px;
  
  transition: transform .2s;
}

.social-icon:hover {
  transform: scale(1.1);
}


.circle-nav {
  position:absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
}

.nav-item {
  position: absolute;
  padding: 10px 20px;
  background: white;
  border: 2px solid #ccc;
  border-radius: 20px;
  text-decoration: none;
  color: #333;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  transition: 0.3s ease-in-out;
}

.nav-item:hover {
  background: orangered;
  scale: 1.1 1.1;
}

/* Position each item around the circle */
.about      {top: -5%;   left: 36%;}
.experience {top: 25%;   left: 90%;}
.projects   {top: 25%;   left: -15%;}
.contactMe  {top: 75%;   left: 80%;}
.viewResume {top: 75%;   left: -15%;}


